@font-face {
  font-family: 'lx-iconfont';  /* project id 949679 */
  src: url('//at.alicdn.com/t/font_949679_gs36aauf8ke.eot');
  src: url('//at.alicdn.com/t/font_949679_gs36aauf8ke.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_949679_gs36aauf8ke.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_949679_gs36aauf8ke.woff') format('woff'),
  url('//at.alicdn.com/t/font_949679_gs36aauf8ke.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_949679_gs36aauf8ke.svg#lx-iconfont') format('svg');
}